:root {
  width: 500px;
  height: 300px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  -webkit-hyphens: auto;
  hyphens: auto;
  margin: 0;
}

code, var, kbd, samp, tt, dir,
abbr, acronym, code, h2, h3, h4 {
  -webkit-hyphens: none;
  hyphens: none;
}

h1, h2, h3, h4 {
  text-rendering: optimizeLegibility;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.logo {
  width: 25%;
  height: 25%;
}

main {
  margin: 20px;
}

header {
  display: flex;
  background-color: blanchedalmond;
  padding: 20px;
  gap: 10px;
}

#out {
  white-space: pre-wrap;

  &.error {
    border: 3px solid red;
    padding: 1rem;
  }
}

#reload {
  position: absolute;
  top: 20px;
  right: 20px;
}

#search {
  width: calc(100% - 50px);
}

.header-text > * {
  margin: 0;
}

.search-inputs {
  display: flex;
  gap: 5px;
}

#thinking {
  display: flex;
  justify-content: center;
  padding: 20px;
}