:root {
  width: 500px;
  height: 300px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  -webkit-hyphens: auto;
  hyphens: auto;
  margin: 0;
}

code, var, kbd, samp, tt, dir,
abbr, acronym, code, h2, h3, h4 {
  -webkit-hyphens: none;
  hyphens: none;
}

h1, h2, h3, h4 {
  text-rendering: optimizeLegibility;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

[hidden] {
  display: none !important;
}

.logo {
  width: 25%;
  height: 25%;
}

main {
  padding: 20px;
}

header {
  display: flex;
  background-color: blanchedalmond;
  padding: 20px;
  gap: 10px;
}

#out {
  &.error {
    border: 3px solid red;
    padding: 1rem;
  }
}

#reload {
  all: unset;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 6px;
}

#search {
  width: calc(100% - 50px);
}

.header-text > * {
  margin: 0;
}

.search-inputs {
  display: flex;
  gap: 5px;
}

#thinking {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

#refine {
  width: 100%;
}

#refine-submit {
  all: unset;
  background: #FFCE00;
  padding: 8px 20px;
  border-radius: 20px;
  margin: 10px 0;
  border: 1px solid transparent;

  &:hover {
    background: #E5B900;
  }

  &:active {
    background: #D0A800;
  }

  &:focus {
    border: 1px solid #D0A800;
  }
}